:root {
    --background-light-green: #e6f2e6; /* Vert clair */
    --text-dark: #333; /* Couleur sombre pour le texte */
    --sea-green: #2e8b57; /* Vert mer */
    --background-white: #ffffff; /* Blanc pour le fond de la zone de contenu */
    --button-color: #5f300f; /* Couleur verte pour les boutons */
    --button-border: #388e3c; /* Couleur verte foncée pour les bordures de boutons */
    --button-shadow: #2e7d32; /* Couleur verte plus foncée pour l'ombre */
    --button-text: #fafafa; /* Couleur claire pour le texte du bouton */
    --button-active-shadow: none; /* Ombre active pour le bouton */
    --button-active-transform: translate(3px, 3px); /* Transformation active pour le bouton */
    --button-link: #388e3c; /* Couleur des liens dans le bouton */
    --button-link-shadow: #fafafad8; /* Ombre du texte des liens dans le bouton */
    /* --fond: linear-gradient(#b77e15c1, #000000d4); */
    --fond: #ecb44dc1;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    z-index: -100;
    background: url(../img/fond.avif);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: var(--text-dark) !important;
}

h1,
h2,
.modal-title {
    color: var(--button-color) !important;
}
h3,
h4,
h5 {
    color: var(--sea-green) !important;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}
.modal-title {
    font-size: 1.8em !important;
}
ul {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 1.2em;
}
.modal-dialog {
    max-width: 90% !important;
}
.container {
    max-width: 800px;
    background: var(--background-white) !important;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    margin: 10px 0;
    color: var(--text-dark) !important;
    font-size: 1.4em;
}

button {
    font-size: 1.4em;
    color: var(--button-text);
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--button-border) !important;
    background-color: var(--button-color) !important;
    box-shadow: 3px 3px var(--button-shadow) !important;
    cursor: pointer;
    margin: 5px 0;
    font-family: "titre", "serif";
}

button:active {
    box-shadow: var(--button-active-shadow);
    transform: var(--button-active-transform);
}

button a {
    list-style-type: none;
    text-decoration: none;
    font-size: 1.4em;
    color: var(--button-link);
    text-shadow: 1px 1px var(--button-link-shadow);
}
.regle {
    top: 7vh;
    position: fixed;
    left: 10px;
    width: 80px;
    /* z-index: 1000; */
    /* opacity: 0.9; */
}

.regle img {
    width: 100%;
}
#statusBars {
    top: 2vh !important;
    position: fixed;
    right: 5px !important;
    /* width: 200px; */
    /* z-index: 1000; */
    border: 1px black solid;
    width: fit-content;
    background-color: rgba(250, 235, 215, 0.479);
}
.ttbar {
    padding: 5px;
    border-radius: 10px;
}
#health-bar,
#food-bar,
#poison-bar {
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    background-color: var(--button-color);
    /* opacity: 0.6; */
    color: var(--button-text);
    margin: 10px 0;
    width: 100%;
}
#wolf {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 1;
}

#game-screen {
    width: 100%;
    height: 100vh;
    position: relative;
}
#health,
#food,
#poison {
    font-weight: bold;
    font-size: 1.2em;
}
#mobile-controls {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
.modal-body,
.modal-header,
.modal-footer {
    background: var(--fond)
        /*, url("https://res.cloudinary.com/dgrszi9wf/image/upload/v1701424797/Dragon/image/fond.jpg")*/;
    background-attachment: fixed;
    /* Fixe l'image d'arrière-plan */
    background-size: cover;
    /* Ajuste la taille de l'image d'arrière-plan pour couvrir le conteneur */
    background-position: center;
    /* Centre l'image d'arrière-plan */
}
.fin {
    opacity: 0.7; /* Réduction de l'opacité */
    max-width: 20% !important;
}

.arrow {
    display: inline-block;
    font-size: 2em;
    padding: 10px;
    cursor: pointer;
}

/* #arrow-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.arrow {
    font-size: 24px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #000;
    cursor: pointer;
} */
.table {
    color: var(--button-color) !important;
    background-color: var(--background-white);
    width: 60% !important;
}
.table th {
    border: 1px solid var(--sea-green);
    color: #fbfbfb !important;
}

.table td {
    border: 1px solid var(--sea-green);
    font-weight: bold;
    color: var(--button-color) !important;
}
.table thead th {
    background-color: var(--sea-green);
}
#mobile-controls {
    display: none; /* Par défaut, caché */
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

#upArrow {
    display: block;
    margin: 0 auto 10px;
}

.arrow {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: var(--button-color);
    border: 2px solid var(--button-border);
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    border-radius: 5px;
    padding: 3px;
    /* cursor: pointer; */
    user-select: none;
}

@media only screen and (max-width: 768px) {
    .regle {
        top: 3vh;
        position: fixed;
        left: 5px;
        width: 100px;
        /* z-index: 1000; */
    }
    #mobile-controls {
        display: flex; /* Afficher les contrôles sur les écrans plus petits */
        flex-direction: column;
        align-items: center;
    }
    #statusBars {
        top: 5vh;
        position: fixed;
        right: 2px !important;
        width: 200px;
        /* z-index: 1000; */
    }
    #health-bar,
    #food-bar,
    #poison-bar {
        padding: 2px;
        /* opacity: 0.6; */
        margin: 5px 0;
        font-size: 1.1em;
        width: 90%;
    }
    .ttbar {
        padding: 1px;
    }
    .modal-dialog {
        max-width: 90%; /* Ajustement pour les petits écrans */
    }
    .fin {
        opacity: 0.9; /* Réduction de l'opacité */
        max-width: 60% !important;
    }
}
